*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:black;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    display:flex;
    padding:20px 3%;
    justify-content: space-between;
 }
    header img{
    width:100px;
    color:white;
    fill:white;
    }
    #headerLinks{
        font-family: 'Raleway', sans-serif;
        text-align:right;
        width:80%;
    } 
    #headerLinks li{
        display:inline-block;
        list-style: none;
        margin-left:20px;
        font-family: 'Raleway', sans-serif;
    }
    #headerLinks a{
        text-decoration: none;
    }
    #headerLinks a::after{
        content:"";
        position:relative;
        display:block;
        margin:auto;
        width:0%;
        height:2px;
        background-color: hsl(224, 93%, 58%);
        transition: 0.5s;
    }

    #headerLinks ul li:hover a::after{
        width:100%;        
    }

    /* header for small screen */

    @media(max-width:400px){
            header img{
            width:90px;
            }
            #headerLinks li{
                margin-right:5px;
                margin-left:10px;
            }
          
           
    }









    /* GETTING STARTED SECTION */

#getStarted{
    padding:0 3%;
    display: flex;
    margin-top: 50px;
    
}    
#intro{
flex:5 ;
display: flex;
flex-direction: column;
justify-content: center;
}
h1{
    font-size:35px;
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;
}
#intro p{
    font-size: 15px;
    margin-bottom: 3%;
    width:90%;
    
}


input{
width:50%;
height:3em; 
margin-right: 2%;
padding-left:5px;   
border:none;
box-shadow: 0px 0px 5px gray;
border-radius:3px;      
}

input:focus{
    outline:none;
}

button{
    width:30%;
height:3em;
border:none;
color:white;
cursor:pointer;
font-family: 'Raleway', sans-serif;
border-radius:3px;  
box-shadow: 0px 0px 5px hsl(224, 93%, 58%);  
background-color:hsl(224, 93%, 58%) ;  
transition:0.5s;  
}


button:hover{
    background-color:hsl(228,74%,74%) ;
    box-shadow:none;
    font-weight:200;
    height:40px;
    width:30.5%;
}

#introBg{
flex:6;
display:flex;
justify-content: center;
align-items: center;
}
#introBg img{
    max-width:100%;

}

 /* GET STARTED for small screen */

@media(max-width:750px){
    

    #getStarted{
        flex-direction: column-reverse;
    }   
    #intro{
        align-items: center;
        text-align: center;
    }
    h1{
        font-size: 25px;
    }
    #intro input,#intro button{
        width:100%;
        margin-bottom: 20px;
    }
    #intro form{
        width:90%;
    }
}













/* HOW IT WORKS SECTION  */


#howItWorks{
    margin-top: 150px;

    border: 1px solid white; 
    background-image: url(images/bg-curve-desktop.svg);
    background-size: 300% 100%;
    background-position:center;
}

.wrapper{
    margin: 150px 0 80px;
    display: flex;
    width:100%;
    padding:0 3%;
}

#left{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#left p{
    font-size: 15px;
    margin-bottom: 2%;
    width:90%;   
}

#pageLink{
    border-bottom:1.5px solid hsl(170, 45%, 43%); 
}
#pageLink a{
    text-decoration: none;
    color:hsl(170, 45%, 43%);
    margin-right:5px;
}

#feedback{
    box-shadow:0 0 2px gray;
    border-radius:3px;
    width:50%;
    padding:2%;
    margin-top:30px;
}
#feedback img{
    border-radius:50%;
    margin-bottom:3px;

}
#feedback p,h6{
    font-size:10px;
    width:100%;
    /* margin-bottom:10px; */
}

#feedbackInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#feedbackInfo div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
#feedbackInfo img{
    width:40px;
    height:40px;
    margin-right:5px;
}

#right{
    flex:1;
    display: flex;
    justify-content: flex-end;
}
#right img{
    max-width: 90%;

}


/* HOW IT WORKS SMALL SCREEN */


@media(max-width:750px){
    
    #howItWorks{
        background-image: url(images/bg-curve-mobile.svg);
        background-size: 500% 100%;
    }
    .wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }   
    #left{
        align-items: center;
        text-align: center;
        margin-top:150px;
    }
   
    #left p{
        margin:auto;
        margin-bottom: 5%;

    }
    #feedback{
        text-align:left; 
        width:90%;
      }
      
}







/* NO.4 SIGNUP SECTION */
#signUp{
    background-color: hsl(238, 22%, 44%);
    display:flex;
    justify-content: space-between;
    padding:5% 3%;  
}
#signUp div{   
     font-size:15px;
    width:47%;
}
#signUp h1{  
    font-size: 30px;
      color:#fff;
    margin-bottom: 15px;
}
#signUp p{
    color:#fff;
}
#signUp form{
    width:47%;
}


#signUp input{
    width:100%; 
    margin-bottom: 2%; 
    }
    
    #signUp button{
    width:40%;
    }


/* SIGNUP FOR SMALL SCREEN */

    @media(max-width:750px){
    
        #signUp{
            padding:10% 5%;  
           flex-direction: column;
           align-items: center;
           justify-content: center;
        }
      #signUp div{
        width:94%;
        text-align: center;
        margin-bottom:20px;
      }
      #signUp form{
        width:60%;
      }
      #signUp input{
        margin-bottom:15px;
      }
      #signUp button{
        width:100%;
      }
    }










    /* ---------------FOOTER--------------- */

    footer{
        background-color:hsl(243, 87%, 12%);
        display:flex;
        flex-direction: column;
        
    }
    
    
    
    footer li{
        list-style: none;
        margin-bottom:10px;
    }
    
    footer a,footer span,#attribution p,em{
        color:white;

        text-decoration: none;
    }
    .fyloLogo path{
        fill:white;
    }
    .head{
        color:white;
        font-weight: bold;
    }

    footer #top{
        display:flex;
        padding: 2% 3%;   
        justify-content: space-around;
    }
  
    #contactUs span{
        margin-right:10px;
    }
    .socialIcon img{
        border:1px solid white;
        border-radius: 50%;
        margin-right: 3px;
        padding:2px;
    }
    #attribution{
        font-size:10px;
        padding:1% 0;
        margin:0 3%;
        border-top:2px solid white;
        display:flex;
        justify-content: space-between;
    }
  

/* FOOTER FOR SMALL SCREEN */
@media(max-width:750px){
    footer #top{
        display:flex;
        flex-direction: column;
        padding:10%;
    }
    #contactUs ul{
        display: flex;
        flex-direction: column;
      
    }
    #contactUs ul li:last-child{
        align-self: center;
        width:100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .socialIcon{
        margin:0 5%;
    }
    /* #attribution{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

}